body  {
    margin: 0px;
    padding: 0px;
}

#nav {
    background-color: white;
    border-bottom: #cccccc solid 3px;
}

#nav h1{
   height: 80px;
   margin: 0px;
   background-color: #4aaaa5;
   width: 225px;
   color: white;
   text-align: center;
   font-family: 'Georgia', Times, Times New Roman, serif;
}


#list li{
    display: inline;
}

#mainDiv {
    max-width: 960px;
    max-height: 960px;
    left: 15%;
    bottom: -10px;
}

#aboutMe {
    color:#4aaaa5;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#para {
  
}

.text {
    margin-left: 50px;
}

#topText {
    float: left;
}

#image {
 float: left;
}

#footerDiv {
    top: 300px;
    left: 50%;
    clear: both;    
}

#footer {
    text-align: center;
}